HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/xhotel-base-server/mvnw
/xhotel-base-server/mvnw.cmd
/xhotel-base-server/.mvn/


*/.mvn/
*/mvnw
*/mvnw.cmd

*/.DS_Store
/spider/meituan/.mvn/
/spider/meituan/mvnw
/spider/meituan/mvnw.cmd
