<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aw.play.userserver.mapper.AUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.aw.play.userserver.entity.AUser">
        <id column="user_code" property="userCode" />
        <result column="user_name" property="userName" />
        <result column="user_phone" property="userPhone" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_code, user_name, user_phone, delete_flag
    </sql>

</mapper>
